/* Install google fonts locally, then import */

@font-face {
	font-family: 'Roboto Slab';
	src:
    local('Roboto Slab');
}
@font-face {
	font-family: 'Roboto';
	src:
    local('Roboto');
}

/*

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
*/

/* base */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 8pt;
  line-height: 125%;
}

/* headings */
h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
	font-weight: normal;
  margin-top: 1.5em;
}

/* the only h1 and ol are pulled into page header. we need to
hide them in main text and style them when in header element */
/*h1, ol {
	display: none;
}*/
#pageHeader {
	display: block;
	text-align: center;
}
header h1 {
	display: block;
	font-size: 20pt;
}
header ol {
	display: inline;
	list-style-type: none;
}

footer {
	text-align: center;
}

h2 {
  text-transform: capitalize;
  font-size: 16pt;
}

h3 {
  font-size: 14pt;
  /*font-style: italic;*/
}

h4 {
	font-size: 14pt;
	font-style: italic;
}

/* First H1 */
h2:first-child {
  margin-top: 0;
}
